.componentDisplay {
    width: 1600px;
    height: 1600px;
    z-index: 0;
    padding: 0;
    margin: 0;
}

.party {
    z-index: 1;
    width: 1500px;
    height: 1500px;
    padding: 0;
    margin: 0;
}

.party h1 {
    font-size: 300px;
}