.componentDisplay {
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 0;
    margin: 0;
}

/* CSS for seizure page */

.party {
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.party h1 {
    font-size: 120px;
}

/* CSS for spider page */
/* 
#spiderWeb {
    /* background-image: url('./images/spiderWebImg\ \(1\).jpg'); */
   
    /* background-color: black; */
    /* background-size: 100% ; */
    /* width:100%;
    height:100vh; */

    
    /* height: 100vh; */
/* } */

.spiderImg {
    transition: all cubic-bezier(.19,.78,.08,.81) 1s;
    
}

/* CSS for car page  */

.carDiv {
    width: 200px;
    height: 200px;
}

#policeCar {
    background-image: url('./images/copCar.jpg');
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    width: 800px;
    height: 500px;
}

.sirenLeft {
    width: 80px;
    height: 10px;
    z-index: 1;
    transform: translate(460px, 95px) rotate(13deg);
    border-radius: 25px;
}

.sirenRight {
    width: 80px;
    height: 10px;
    z-index: 1;
    transform: translate(560px, 109px) rotate(13deg);
    border-radius: 25px;
}

.rainbowSiren {
    width: 160px;
    height: 10px;
    z-index: 1;
    transform: translate(145px, 285px) rotate(19deg);
    border-radius: 25px;
}

.custom {
  /* cursor: not-allowed; */
  cursor: url('./images/mallet.png') 4 12, auto;
}

#car {
    background-image: url('./images/car.jpeg');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
