.componentDisplay {
    width: 1600px;
    height: 1600px;
    z-index: 0;
    padding: 0;
    margin: 0;
}

.party {
    z-index: 1;
    width: 1500px;
    height: 1500px;
    padding: 0;
    margin: 0;
}

.party h1 {
    font-size: 300px;
}

#spiderWeb {
    background-image: url('./images/spiderWebImg\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    /* height: 100vh; */

}

#car {
    /* background-color: darkgreen; */
}


.carDiv {
    width: 200px;
    height: 200px;
}

#policeCar {
    background-image: url('./images/copCar.jpg');
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    width: 800px;
    height: 500px;
}

.sirenLeft {
    width: 80px;
    height: 10px;
    z-index: 1;
    transform: translate(460px, 95px) rotate(13deg);
    border-radius: 25px;
}

.sirenRight {
    width: 80px;
    height: 10px;
    z-index: 1;
    transform: translate(560px, 109px) rotate(13deg);
    border-radius: 25px;
}

.rainbowSiren {
    width: 160px;
    height: 10px;
    z-index: 1;
    transform: translate(145px, 285px) rotate(19deg);
    border-radius: 25px;
}

